.options {
    display: flex;
    flex-direction: column;
  }
  
  .options-line {
    display: flex;
  }
  
  .option-box {
    display: flex;
    align-items: center;
    width: 200px;
    height: 60px;
    border: 1px solid #ccc;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .option-box:last-child {
    margin-right: 0;
  }
  
  .option-box .option-letter {
    width: 30px;
    text-align: center;
  }
  
  .option-box .option-text {
    flex: 1;
    padding-left: 10px;
  }
  
  .option-box.selected {
    background-color: lightblue;
  }
  