
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Exam Portal</span>
      <span class="example-spacer"></span>
      <div class="auth-links">
        <button mat-button routerLink="/login" routerLinkActive="active" class="auth-button">Login</button>
        <button mat-button routerLink="/signup" routerLinkActive="active" class="auth-button">Register</button>
      </div>
    </mat-toolbar>


  
  
  