<!-- Make sure you have intsalled bootstrap and added its configuration in angular.json so that they can 
    become useful. Container has 12 grids(columns)  -->

<div class="container">
  <div class="container text-center">
    <img src="/assets/Exam_portal.JPG" alt="Image Description" width="100" height="100" />
  </div>

  <div class="container mt-1 col-sm-6">
    <h2 class="mb-4 text-center">Sign Up</h2>

    <form (ngSubmit)="formSubmit()">
      <!-- print user on the web as json -->
      <!-- {{user | json}} -->
      <!-- username field -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Username</mat-label>
        <input required [(ngModel)]="user.userName" name="username" matInput placeholder="Enter here">
      </mat-form-field>
      <!-- password field -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>password</mat-label>
        <input required [(ngModel)]="user.password" name="password" matInput placeholder="Enter here">
      </mat-form-field>
      <!-- Email field -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input required [(ngModel)]="user.email" name="email" matInput placeholder="Enter here">
      </mat-form-field>
      <!-- firstname field -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>First Name</mat-label>
        <input required [(ngModel)]="user.firstname" name="firstname" matInput placeholder="Enter here">
      </mat-form-field>
      <!-- lastname field -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input [(ngModel)]="user.lastname" name="lastname" matInput placeholder="Enter here">
      </mat-form-field>
      <div class="container text-center">
        <button type="submit" mat-raised-button color="primary">Register</button>
        <!-- not recoomended to use in line CSS like below -->
        <button style="margin-left: 20px;" mat-raised-button color="warn">Reset</button>
      </div>



    </form>

  </div>
</div>